node_modules
build/
npm-debug.log
system-notification.iml
react-native-system-notification.iml
.DS_Store
.idea/
android/.idea/
*.iml

# Android/IntelliJ
#
build/
bin/
.idea
.gradle
local.properties
*.iml
